/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(220, 220, 220);
}

  


 


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(36, 25, 100);
    font-family: 'Times New Roman ', sans-serif;
    text-align: center;
}

/*Designing the layout and appearence of the main body of my work*/
.myWeek1{
    margin: auto;
    width: 800px;
    background-color: rgb(220, 220, 220);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(220, 220, 220);
}


 
  /* Centered section inside the top navigation */
  /*Chose not to use any hover function as when a tooltip is included it often skews where you think the pointer meets the data */
  .Chart1{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart2{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart3{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart4{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart5{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart6{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart7{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart8{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart9{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart10{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart11{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart12{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}

.Chart13{
    background-color: white;
    width:375px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart14{
    background-color: white;
    width:600px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 125px;
}
.Chart15{
    background-color: white;
    width:425px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart16{
    background-color: white;
    width:350px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 225px;
}
.Chart17{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart18{
    background-color: white;
    width:600px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 125px;
}
.Chart19{
    background-color: white;
    width:425px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}
.Chart20{
    background-color: white;
    width:350px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 225px;
}
.Chart21{
    background-color: white;
    width:850px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 00px;
}
.Chart22{
    background-color: white;
    width:400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 200px;
}


  #Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Chart4{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

    

/*Grid for Homework 4*/ 
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: -8%;
    margin-left: 50px;
    background-color: white;
    width:775px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    position: center;
    margin-left: 10px;
  }

  /*inspired by Christina Pham (2021) */
.navigation {
    position: fixed;
    margin-left: -50px;
    margin-top: -10px;
    padding: 0;
    width: 100px;
    height: 100%;
    background: #525252 no-repeat center fixed;
    transition: 0.5s;
    overflow: hidden;
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
  }
  
  .navigation:hover,
  .navigation.active {
    width: 250px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
  }
  
  .navigation ul li:hover {
    background: #555;
    transition: 0.5s ease;
    color: #555
  }
  
  .navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #3d3c3c;
  }
  
  .navigation ul li a:hover {
    color: white;
  }
  
  .navigation li a.active {
      background-color: #7a7a7a;
      color: white;
      font-weight: 900;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
  .navigation ul li a .icon .fa {
    font-size: 24px;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }






